<h1>Hello! <small>What's going on today?</small></h1>
<hr/>

<div class="col-sm-6">
  <panel-musique title="'Dernières musiques'" class="'panel-danger'" musiques="musiques" order-by-field="'-id'" sort-reverse="false" limit="10" search="search"></panel-musique>
</div>
<div class="col-sm-6">
  <panel-musique title="'Musiques les plus écoutées'" class="'panel-info'" musiques="musiques" order-by-field="'-listen'" sort-reverse="false" limit="10" search="search"></panel-musique>
</div>
<div class="col-sm-6">
  <panel-playlist title="'Dernières playlists'" class="'panel-success'" playlists="playlists" order-field="'-id'" order-reverser="false" limit="10" search="search"></panel-playlist>
</div>
