<h1>Mon Compte<small> {{ utilisateur.email }} - {{ utilisateur.pseudo }}</small></h1>
<hr/>

<uib-tabset active="activeJustified" justified="true">
  <uib-tab index="0" heading="Mes musiques">
    <table-musique musiques="musiques" order-by-field="'-id'" sort-reverse="false" search="search"></table-musique>
  </uib-tab>
  <uib-tab index="1" heading="Mes playlists">
    <table-playlist playlists="playlists" order-by-field="'-id'" sort-reverse="false" search="search"></table-playlist>
  </uib-tab>
  <uib-tab index="2" heading="Mon historique">
    <table-musique musiques="historiques" order-by-field="''" sort-reverse="false" search="search"></table-musique>
  </uib-tab>
</uib-tabset>
