
<h1>Musique <small>/ <span ng-if="action == 'add'">Ajouter</span><span ng-if="action == 'edit'">Édition de la musique &laquo; {{ musique.title }} &raquo;</span></small></h1>
<strong ng-if="action == 'add'">Si vous ne remplissez pas les champs, les données du fichier mp3 seront mise à la place lors de l'ajout.</strong>
<hr/>

<div class="alert alert-warning alert-dismissible" role="alert" ng-show="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Warning!</strong> {{ alert }}
</div>

<div class="alert alert-success alert-dismissible" role="alert" ng-show="success">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Success!</strong> Votre musique a bien été importé/modifé.
</div>

<form role="form" ng-submit="submitForm()">
  <div class="form-group" ng-if="action == 'edit'">
    <label>ID</label>
    <input type="text" class="form-control" placeholder="ID" ng-model="musique.id" ng-disabled="action == 'edit'">
  </div>
  <div class="form-group">
    <label>Titre <span ng-if="action == 'edit'">*</span></label>
    <input type="text" class="form-control" placeholder="Titre" ng-model="musique.title" ng-required="action == 'edit'">
  </div>
  <div class="form-group">
    <label>Vignette</label>
    <input id="musiqueImage" file-model="musique.cover" placeholder="Cover" type="file" class="file-loading">
  </div>
  <div class="form-group">
    <label>Artiste <span ng-if="action == 'edit'">*</span></label>
    <input type="text" class="form-control" placeholder="Artiste" ng-model="musique.artist" ng-required="action == 'edit'">
  </div>
  <div class="form-group">
    <label>Lien</label>
    <input type="url" class="form-control" placeholder="Lien" ng-model="musique.url"
    uib-tooltip="Un lien Youtube ou un lien vers un fichier mp3."
    tooltip-placement="top"
    tooltip-trigger="'mouseenter'"
    tooltip-enable="!musique.url">
  </div>
  <div class="form-group">
    <label>Fichier</label>
    <input id="musiqueFichier" file-model="musique.file" placeholder="Fichier" type="file" class="file-loading">
  </div>
  <div class="form-group">
    <label>Etat *</label>
    <br/>
    <div class="btn-group" data-toggle="buttons">
        <input type="radio" ng-model="musique.state" ng-value="1" integer checked="checked"> Public
        <input type="radio" ng-model="musique.state" ng-value="0" integer> Privé
    </div>
  </div>

  <div class="pull-right">
    <span ng-show="submitted">
      <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
      <span class="sr-only">Loading...</span>
    </span>
    <a href="musique" class="btn btn-default" ng-confirm-click="Êtes-vous sûr de vouloir annuler ?">Annuler</a>
    <a ng-if="action == 'edit'" class="btn btn-danger">Supprimer</a>
    <a class="btn btn-danger" ng-if="action == 'add'" ng-click="reinitialiser()" ng-confirm-click="Êtes-vous sûr de vouloir tout effacer ?">Ré-initialiser</a>
    <input type="submit" value="Valider" class="btn btn-primary"/>
  </div>
  <br/><br/><br/>
</form>

<script>

//$(document).ready(function(){
  /*var scope = angular.element($('body[ng-controller="mainController"]')).scope()
  var initialPreview = false
  if (scope.$$childTail.musique.image !== undefined) {
    initialPreview = ['<img src="'+scope.$$childTail.musique.image+'" height="200" width="200">']
  }*/

  $("#musiqueImage").fileinput({
    initialPreview: ['<img src="{{musique.image}}" height="200" width="200">'],
    language: "fr",
    allowedFileTypes: ["image"],
    showRemove: false,
    showUpload: false,
    overwriteInitial: true
  })

  $("#musiqueFichier").fileinput({
    language: "fr",
    allowedFileTypes: ["audio"],
    showRemove: false,
    showUpload: false,
    overwriteInitial: true
  })
//})
</script>
