<h1>Playlists <small>/ Liste <span ng-show="playlists">({{ (playlists | filter:search).length }})</span></small></h1>
<hr />

<div class="alert alert-warning alert-dismissible" role="alert" ng-show="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Warning!</strong>{{ alert }}
</div>

<p>
  <a ng-show="$root.isLogged" href="playlists/ajouter" class="btn btn-default">Ajouter une playlist</a>
</p>

<ul uib-pagination previous-text="Précédent" next-text="Suivant" first-text="Début" last-text="Fin" total-items="(playlists | filter:search).length" ng-model="currentPage" max-size="10" boundary-links="true" force-ellipses="true"></ul>


<div class="alert alert-info" role="alert" ng-hide="playlists">
  <p class="loading">Chargement en cours, merci de patienter...</p>
</div>
<div class="alert alert-info" role="alert" ng-show="(playlists | filter:search).length == 0">
  <p>Aucun résultat<span ng-show="search">, veuillez élargir la recherche</span>.</p>
</div>

<div class="row">
  <div class="col-sm-3" ng-repeat="playlist in playlists | startFrom:(currentPage-1)*pageSize | limitTo:pageSize" ng-if="(playlist.musiques | filter:search).length !== 0">
    <panel-detail-playlist playlist="playlist" class="'panel-danger'" search="search"></panel-detail-playlist>
  </div>
</div>

<ul uib-pagination previous-text="Précédent" next-text="Suivant" first-text="Début" last-text="Fin" total-items="(playlists | filter:search).length" ng-model="currentPage" max-size="10" boundary-links="true" force-ellipses="true"></ul>
