
<div class="alert alert-info" role="alert" ng-hide="musiques">
  <p class="loading">Chargement en cours, merci de patienter...</p>
</div>
<div class="alert alert-info" role="alert" ng-show="(musiques | filter:search).length == 0">
  <p>Aucun résultat<span ng-show="search">, veuillez élargir la recherche</span>.</p>
</div>
<div class="flex-container">
  <div class="flex-item" ng-repeat="musique in musiques | filter:search | orderBy:orderByField:sortReverse | startFrom:(currentPage-1)*pageSize | limitTo:pageSize"  music-player="play" add-song="musique">
    <div class="container-musique">
      <img ng-if="musique.image" ng-src="{{ musique.image }}" class="image">
      <img ng-if="!musique.image" src="img/no-media.gif" class="image">
      <div class="middle">
        <div class="text">
          <button type="button" class="btn btn-default btn-sm" music-player="play" add-song="musique" title="Jouer la musique">
            <span class="glyphicon glyphicon-play"></span>
          </button>
          <a class="btn btn-default btn-sm" ng-href="{{ musique.url }}" target="_blank" download title="Télécharger la musique">
            <span class="glyphicon glyphicon-save"></span>
          </a>
          <a class="btn btn-default btn-sm" href="musiques/editer/{{ musique.id }}" ng-hide="musique.utilisateur.id !== $root.utilisateur.id" title="Editer la musique">
            <span class="glyphicon glyphicon-pencil"></span>
          </a>
        </div>
      </div>
    </div>
    <p>{{ musique.title }} <span ng-if="musique.artist">de {{ musique.artist }}</span></p>
  </div>
</div>

<ul uib-pagination previous-text="Précédent" next-text="Suivant" first-text="Début" last-text="Fin" total-items="(musiques | filter:search).length" ng-model="currentPage" max-size="10" boundary-links="true" force-ellipses="true"></ul>
