
<div class="alert alert-info" role="alert" ng-hide="musiques">
  <p class="loading">Chargement en cours, merci de patienter...</p>
</div>
<div class="alert alert-info" role="alert" ng-show="(musiques | filter:search).length == 0">
  <p>Aucun résultat<span ng-show="search">, veuillez élargir la recherche</span>.</p>
</div>

<div class="panel" ng-class="class">
  <div class="panel-heading">
    <h3 class="panel-title clearfix"><span class="pull-left">{{ title }}</span> <a href="musiques" class="btn btn-xs btn-default pull-right">Consulter la liste complète</a></h3>
  </div>
  <table class="table table-condensed table-striped">
    <tbody>
      <tr music-player="play" add-song="musique" ng-repeat="musique in musiques | filter:search | orderBy:orderByField:sortReverse | limitTo:limit">
        <td>Vue {{ musique.listen || 0 }}</td>
        <td>{{ musique.title }}</td>
        <td>{{ musique.artist }}</td>
        <td>{{ musique.length | secondsToDateTime | date:'mm:ss' }}</td>
      </tr>
    </tbody>
  </table>
</div>
