<div class="col-md-6 col-sm-12">
  <sound-manager></sound-manager>

  <div class="page-header">
    <h2>À l'écoute: {{ currentPlaying.title }} <span ng-if="currentPlaying.artist">de {{ currentPlaying.artist }}</span> <small>{{ currentPostion }} / {{ currentDuration }}</small></h1>
  </div>

  <div class="row">
    <div class="col-xs-3">
      <a class="thumbnail">
        <img ng-if="currentPlaying.image" ng-src="{{ currentPlaying.image }}">
        <img ng-if="!currentPlaying.image" src="img/no-media.gif">
      </a>
    </div>

    <div class="col-xs-9">
      <div class="progress" seek-track>
        <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" ng-style="{width : ( progress + '%' ) }">
          {{ currentPostion }}
        </div>
      </div>

      <div class="btn-group" role="group">
        <button play-music ng-show="!isPlaying" class="btn btn-default"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>
        <button pause-music ng-show="isPlaying" class="btn btn-default"><span class="glyphicon glyphicon-pause" aria-hidden="true"></span></button>
        <button stop-music ng-show="isPlaying" class="btn btn-default"><span class="glyphicon glyphicon-stop" aria-hidden="true"></span></button>
        <button prev-track class="btn btn-default"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span></button>
        <button next-track class="btn btn-default"><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span></button>
        <button repeat-music class="btn btn-default" ng-class="{disabled: !repeat}" title="Répéter le direct"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
      </div>

      <div class="btn-group" role="group">
        <a class="btn btn-default disabled">Volume: {{ volume }}</a>
        <button music-volume data-type="decrease" class="btn btn-default"><span class="glyphicon glyphicon-volume-down" aria-hidden="true"></span></button>
        <button music-volume data-type="increase" class="btn btn-default"><span class="glyphicon glyphicon-volume-up" aria-hidden="true"></button>
        <button mute-music class="btn btn-default" ng-class="{disabled: !mute}"><span class="glyphicon glyphicon-volume-off" aria-hidden="true"></button>
      </div>

      <div class="btn-group" role="group">
        <button clear-playlist class="btn btn-default"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true" title="Supprimer le direct"></button>
        <button mix-playlist class="btn btn-default"><span class="glyphicon glyphicon-random" aria-hidden="true" title="Mélanger le direct"></button>
      </div>
      <br/><br/>
      <form class="form-inline">
        <div class="form-group">
          <label for="timer">Minuteur (par musique) : </label>
          <input type="time" class="form-control" placeholder="Minuteur" ng-model="timer"/>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="col-md-6 col-sm-12">
  <br/>
  <div class="panel panel-primary">
    <div class="panel-heading panel-heading-player">
      <h3 class="panel-title clearfix"><span class="pull-left">En direct</span> <a clear-playlist class="btn btn-xs btn-default pull-right">Effacer le direct</a></h3>
    </div>
    <div class="table-panel-player">
      <table class="table table-condensed table-striped header-fixed">
        <tbody ui-sortable="sortableOptions" ng-model="playlist">
          <tr class="clickable-row" ng-repeat="musique in playlist">
            <td style="width:40px">
              <small><span class="glyphicon glyphicon-move" aria-hidden="true"></span></small>
            </td>
            <td play-from-playlist="musique">
              <a>{{ musique.title }}</a><span ng-if="currentPlaying.id == musique.id"> <small>(actuelle)</small></span>
            </td>
            <td style="width:60px">
              {{ musique.length | secondsToDateTime | date:'mm:ss' }}
            </td>
            <td remove-from-playlist="musique" style="width:40px">
              <small><span class="glyphicon glyphicon-remove" aria-hidden="true"></small>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
